.nav-container{
    width: 20%;
    height: 95vh;
    background-color: hsl(240, 81%, 71%);
    

}
.brand-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    gap: 5px;
}
.brand-name{
    font-size: 10px;
    color: #fff;
}
.menu-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.menu-link{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    
}
.menu-active-link{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: hsl(271, 62%, 75%)

}
.menu-link:hover{
    background-color: hsl(271, 62%, 75%)
}